body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #576A74; /* Set the background to match the color */
}

.slider-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.slider-container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.slide {
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
    background-size: contain; /* Ensures the entire image is visible */
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center; /* Centers the image */
    scroll-snap-align: start;
}
